@import "tailwindcss";
@font-face {
  font-family: font500;
  src: url(../src/assets/fonts/Lausanne-500.woff2);
}

@font-face {
  font-family: font300;
  src: url(../src/assets/fonts/Lausanne-300.woff2);
}

body {
  overflow-x: hidden;
}

.moveLink {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.link:hover .moveLink {
  opacity: 1;
}

.moveX {
  animation-name: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes moveAnimation {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}